<div class="container-fluid">
  <div class="jumbotron enfoque">
    <div class="container">
      <div class="row">
        <div class="col-sx-12 col-sm-10">
          <img src="https://firebasestorage.googleapis.com/v0/b/landingsuculentasgrunegt.appspot.com/o/logo5.png?alt=media&token=e391e2bb-fa1f-45ff-ad6f-fa71d4716510"
            class="whiteColor" alt="Suculentas Grüne GT">
        </div>
        <div class="col-xs-12 col-sm-2">
          <a href="https://www.facebook.com/SuculentasGruneGT" target="_blank">
            <i class="fa fa-facebook-square fa-3x" style="color:blue" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/GtGrune" target="_blank">
            <i class="fa fa-twitter-square fa-3x" style="color:lightskyblue" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/suculetasgrune/" target="_blank">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
          <!-- title -->
          <h1>
            <strong>ENCUENTRA TU SUCULENTA</strong>
          </h1>
          <h3>
            <p>
              <small>Somos una empresa que se dedica a la venta de suculentas, cactus, y arreglos decorativos.</small>
            </p>
          </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-12 col-md-12">
          <img src="https://firebasestorage.googleapis.com/v0/b/landingsuculentasgrunegt.appspot.com/o/play.png?alt=media&token=a2ff5806-e27b-4050-a943-98d33e29e8f8"
            alt="mira el video" style="cursor:pointer" data-toggle="modal" data-target="#myModal">
          <p>Mira el Video</p>
          <!-- Modal Inicio -->
          <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header btn-warning">
                  <h4 class="modal-title">Suculentas Grüne GT</h4>
                  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <video controls autoplay="true">
                        <source src="https://firebasestorage.googleapis.com/v0/b/landingsuculentasgrunegt.appspot.com/o/2018-08-17_10-23-07.mp4?alt=media&token=cb99bcc2-05f7-4eab-965e-f6802598120b" type="video/mp4">
                    </video>
                    <p>Conoce más de nuestros productos&hellip; </p>
                    <p>Visita nuestra página oficial <a href="https://suculentasgrunegt.firebaseapp.com/#">Suculentas Grüne GT</a></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
          <!-- Modal Fin-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12 text-center">
          <h4>¡Quiero ser el primero en adquirirlo!</h4>
          <div class="input-group">
            <input type="text" id="input-cta" class="form-control" required [(ngModel)]="objeto.nombre" [ngModelOptions]="{standalone: true}" style="height: 35px; width: 10px; font-size:18px" placeholder="Introduce tu nombre completo">
            <input type="email" id="input-cta" class="form-control" required [(ngModel)]="objeto.correo" [ngModelOptions]="{standalone: true}" style="height: 35px; font-size:18px" placeholder="Introduce tu Email">
            <span class="input-group-btn">
              <button id="btn-cta" style="height: 35px; font-size:18px" class="btn btn-warning" (click)="guardar()" type="button">Te Avisamos</button>
            </span>
          </div>
          <!-- /input-group -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-md-12">
        <h1 class="text-center">¿Porque Comprar en Suculentas Grüne?</h1>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
        <h3>La idea fusionó el amor por
          <strong>la naturaleza </strong>con la necesidad</h3>
        <p>de crear y experimentar con suculentas, cactus, terrarios.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <i class="fa fa-tree fa-5x" aria-hidden="true"></i>
        <h3>Encuentra la suculenta que estás buscando</h3>
        <p>Suculentas Grüne agrupa un sin fin plantas, dando espacio a la belleza de la naturaleza.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <i class="fa fa-home fa-5x" aria-hidden="true"></i>
        <h3>Decora tu
          <strong>Hogar, Oficina, Eventos</strong>
        </h3>
        <p>Atendemos decoraciones con suculentas, cactus, terrarios entre otros.</p>
      </div>
    </div>
  </div>
</div>